name: build
on: [push, pull_request]

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: "graalvm-community"
          version: "latest"
          java-version: "21"
          components: "native-image"
          cache: "sbt"
      - run: sbt scalafmtCheckAll scalafmtSbtCheck
  build:
    name: Build
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "macos-latest-xlarge"]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: "graalvm-community"
          version: "latest"
          java-version: "21"
          components: "native-image"
          cache: "sbt"
      - name: Install Sbt (New MacOs ARM64 Runner doesn't have it)
        if: ${{ matrix.os == 'macos-latest-xlarge' }}
        run: curl -fL https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-apple-darwin.gz | gzip -d > cs && chmod +x cs && (xattr -d com.apple.quarantine cs || true) && ./cs setup -y && echo "~/Library/Application Support/Coursier/bin" >> $GITHUB_PATH
      - run: sbt test graalvm-native-image:packageBin
      - uses: actions/upload-artifact@v4
        with:
          name: tfr-${{ runner.os }}-${{ runner.arch }}
          path: modules/cli/target/graalvm-native-image/tfr
          retention-days: 1
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build, checks]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - id: get_version
        run: |
          echo ${GITHUB_REF/refs\/tags\//}
          echo ::set-output name=version::${GITHUB_REF/refs\/tags\//}
      - uses: actions/download-artifact@v4
      - run: zip -j tfr-Linux-X64-${{ steps.get_version.outputs.version }}.zip tfr-Linux-X64/tfr
      - run: zip -j tfr-macOS-X64-${{ steps.get_version.outputs.version }}.zip tfr-macOS-X64/tfr
      - run: zip -j tfr-macOS-ARM64-${{ steps.get_version.outputs.version }}.zip tfr-macOS-ARM64/tfr
      - id: upload-release-assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            tfr-Linux-X64-${{ steps.get_version.outputs.version }}.zip
            tfr-macOS-X64-${{ steps.get_version.outputs.version }}.zip
            tfr-macOS-ARM64-${{ steps.get_version.outputs.version }}.zip  
